In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from google.colab import drive

In [41]:
# drive.mount('/content/gdrive')

In [42]:
df = pd.read_csv('/content/Daily_Demand_Forecasting_Orders.csv', sep = ';')

In [43]:
df.shape

(60, 13)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 13 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Week of the month (first week, second, third, fourth or fifth week  60 non-null     int64
 1   Day of the week (Monday to Friday)                                  60 non-null     int64
 2   Non-urgent order                                                    60 non-null     float64
 3   Urgent order                                                        60 non-null     float64
 4   Order type A                                                        60 non-null     float64
 5   Order type B                                                        60 non-null     float64
 6   Order type C                                                        60 non-null     float64
 7   Fiscal sector orders                                                60 non-null     float64
 8   Orders from the traffic controller sector                           60 non-null     int64
 9   Banking orders (1)                                                  60 non-null     int64
 10  Banking orders (2)                                                  60 non-null     int64
 11  Banking orders (3)                                                  60 non-null     int64
 12  Target (Total orders)                                               60 non-null     float64
dtypes: float64(7), int64(6)
memory usage: 6.2 KB

In [45]:
df.head()

,"Week of the month (first week, second, third, fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
0,1,4,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [46]:
df.isna().sum()

Week of the month (first week, second, third, fourth or fifth week    0
Day of the week (Monday to Friday)                                    0
Non-urgent order                                                      0
Urgent order                                                          0
Order type A                                                          0
Order type B                                                          0
Order type C                                                          0
Fiscal sector orders                                                  0
Orders from the traffic controller sector                             0
Banking orders (1)                                                    0
Banking orders (2)                                                    0
Banking orders (3)                                                    0
Target (Total orders)                                                 0
dtype: int64

In [47]:
df.duplicated().sum()

0

It appears we don't have any missing value in the dataset nor duplicated values.

# Data Cleaning

We would have to rename the columns for clarity sake and format the "Day of the week" column to actual names of the days rather than just numbers representing those days

-  Rename some Column
- Change Days of the week from numerical representation to actual name of days

In [48]:
# Rename columns

df.rename(columns = {
    'Week of the month (first week, second, third, fourth or fifth week': 'Week od the Month',
    'Day of the week (Monday to Friday)': 'Day of the Week',
    'Orders from the traffic controller sector': 'Traffic controller orders',
    'Target (Total orders)':'Total orders'
}, inplace = True)

In [49]:
df.head()

,Week od the Month,Day of the Week,Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Traffic controller orders,Banking orders (1),Banking orders (2),Banking orders (3),Total orders
0,1,4,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

### Name the Days in a Week

In [50]:
days = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
}
df['Day of the Week'] = df['Day of the Week'].map(days)

In [51]:
df.head()

,Week od the Month,Day of the Week,Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Traffic controller orders,Banking orders (1),Banking orders (2),Banking orders (3),Total orders
0,1,Thursday,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,Friday,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,Saturday,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,Tuesday,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,Wednesday,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

# Exploratory Data Analysis